numpy
pandas
matplotlib
jupyter
notebook
ipython
scipy 
tqdm 
termcolor 
torch
ipykernel
mpire
git+https://github.com/RudyMorel/scattering_spectra
git+https://github.com/AiglonDore/shadowing
git+https://github.com/arogozhnikov/einops