numpy
pandas
matplotlib
jupyter
notebook
ipython
scipy 
tqdm 
termcolor 
torch
ipykernel
mpire
git+https://github.com/RudyMorel/M2QF/scattering_spectra
git+https://github.com/RudyMorel/shadowing
git+https://github.com/arogozhnikov/einops
yfinance
asttokens
statsmodels